@font-face {
  font-family: "Belotta-Regular";
  src: url(./font/Bellota-Regular.ttf);
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  font-family: "Belotta-Regular", "Nunito", sans-serif;
}

.container-fluid {
  min-height: 100%;
  height: 100%;
}

/* ====================================
    Fenêtres modal : 
==================================== */

#modalSection .btn {
  background-color: #20b2aa;
  border-style: hidden;
}

.modal-body .form-group {
  border-style: solid;
  border-color: #20b2aa;
  border-width: 1px;
  border-radius: 15px;
}
