#userMenuComponent {
  background-color: #2e2f32;
  color: #fefefb;
  font-weight: bold;
  min-height: 100%;
}

#userMenuComponent,
img {
  border-radius: 15px;
}

#userMenuComponent hr {
  background-color: #20b2aa;
  size: 3px;
}

#userMenuComponent .btn {
  color: white;
  font-size: 1.2rem;
  border-style: hidden;
}

#userMenuComponent .btn:hover {
  background-color: #20b2aa;
}

#userMenuComponent #userImage {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background: #20b2aa;
}

#userMenuComponent #userDefaultImage{
  width: 100%;
  text-align: center;
  color: white;
  font-size: 36px;
  line-height: 100px;
}
